<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageupload">	
	<insert id="insert" parameterType="ImageUploadDto">
		INSERT INTO acorn_board
		(num_board, id_writer, content, regdate)
		VALUES(#{num_board}, #{id_writer}, #{content}, SYSDATE)
	</insert>
	
	<insert id="insert2" parameterType="ImageUploadDto">
		INSERT INTO acorn_picture
		(num_board, orgfileName, fileSize)
		VALUES(#{num_board}, #{orgfileName}, #{fileSize})
	</insert>
	
	<insert id="insert3" parameterType="ImageUploadDto">
		INSERT INTO acorn_tag
		(num_board, tag)
		VALUES(#{num_board}, #{tag})
	</insert>
</mapper>























