<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<select id="getFollowList" parameterType="string" resultType="mainDto">
		SELECT id_follow
		FROM acorn_follow
		WHERE id_follower=#{id}
	</select>
	<select id="getBoardList" parameterType="mainDto" resultType="mainDto">
		SELECT *
		FROM (
		        SELECT result1.*, ROWNUM AS rnum
		        FROM (
		            SELECT b.content, b.regdate, b.num_board, b.id_writer, l.count_like
		            FROM (
		                SELECT b.content, b.regdate, b.num_board, b.id_writer
		                FROM(
		                        SELECT id_follow
		                        FROM acorn_follow
		                        WHERE id_follower=#{id}
		                    ) a, acorn_board b
		                WHERE a.id_follow=b.id_writer
		                ) b,
		                (
		                    SELECT num_board, COUNT(num_board) AS count_like
		                    FROM acorn_like
		                    GROUP BY num_board 
		                ) l
		            WHERE b.num_board = l.num_board(+)
		            ORDER BY b.regdate DESC
		            ) result1
		    )
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getTag" parameterType="mainDto" resultType="string">
		SELECT tag
		FROM acorn_tag
		WHERE num_board = #{num_board}
	</select>
	<select id="getPicture" parameterType="mainDto" resultType="string">
		SELECT orgfilename
		FROM acorn_picture
		WHERE num_board = #{num_board}
	</select>
	<select id="getLike" parameterType="mainDto" resultType="String">
		SELECT id_like
		FROM acorn_like
		WHERE num_board = #{num_board} AND id_like = #{id}
	</select>
	<select id="getBookMark" parameterType="mainDto" resultType="String">
		SELECT id_bookmark
		FROM acorn_bookmark
		WHERE num_board = #{num_board} AND id_bookmark = #{id}
	</select>
	<select id="getThumbNail" parameterType="mainDto" resultType="String">
		SELECT orgfilename AS thumbnail
		FROM acorn_user
		WHERE id=#{id_writer}
	</select>
	<select id="getComment" parameterType="mainDto" resultType="commentDto">
		SELECT *
		FROM (
		        SELECT result1.*, ROWNUM AS rnum
		        FROM (
		                SELECT id_writer AS id_comment_writer, content AS comments, id_target AS id_comment_target, regdate
		                FROM acorn_comment
		                WHERE num_board=#{num_board}
		                ORDER BY regdate DESC
		            ) result1
		    )
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insertLike" parameterType="mainDto">
		INSERT INTO acorn_like(num_board, id_like)
		VALUES(#{num_board}, #{id})
	</insert>
	<delete id="deleteLike" parameterType="mainDto">
		DELETE FROM acorn_like
		WHERE id_like=#{id} AND num_board=#{num_board}
	</delete>
	<insert id="insertBookMark" parameterType="mainDto">
		INSERT INTO acorn_bookmark(num_board, id_bookmark, regdate)
		VALUES(#{num_board}, #{id}, SYSDATE)
	</insert>
	<delete id="deleteBookMark" parameterType="mainDto">
		DELETE FROM acorn_bookmark
		WHERE id_bookmark=#{id} AND num_board=#{num_board}
	</delete>
	<insert id="insertComment" parameterType="commentDto">
		INSERT INTO acorn_comment(num_board, id_writer, content, id_target, ref_group, comment_group, deleted, regdate)
		VALUES(#{num_board}, #{id_comment_writer}, #{comments}, #{id_comment_target}, #{ref_group}, #{comment_group}, 'n', SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT num_board_seq.NEXTVAL
		FROM DUAL
	</select>
</mapper>