<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<select id="getFollowList" parameterType="string" resultType="mainDto">
		SELECT id_follow
		FROM acorn_follow
		WHERE id_follower=#{id}
	</select>
	<select id="getBoardList" parameterType="string" resultType="mainDto">
		SELECT b.content, b.regdate, b.num_board, b.id_writer
		FROM(
				SELECT id_follow
				FROM acorn_follow
				WHERE id_follower=#{id}
			) a, acorn_board b
		WHERE a.id_follow=b.id_writer
		ORDER BY b.regdate
	</select>
	<select id="getTag" parameterType="mainDto" resultType="string">
		SELECT tag
		FROM acorn_tag
		WHERE num_board = #{num_board}
	</select>
	<select id="getPicture" parameterType="mainDto" resultType="string">
		SELECT orgfilename
		FROM acorn_picture
		WHERE num_board = #{num_board}
	</select>
</mapper>