<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert">
		INSERT INTO acorn_user
		
		<if test="google_id!=null">
			(id, pwd, nick, name, regdate ,google_id)
			VALUES(#{id}, #{pwd}, #{nick}, #{name}, SYSDATE, #{google_id})
		</if>
		<if test="google_id==null">
			(id, pwd, nick, name, regdate)
			VALUES(#{id}, #{pwd}, #{nick}, #{name}, SYSDATE)
		</if>
	</insert>
	<select id="getPwd" parameterType="string" resultType="string">
		SELECT pwd
		FROM acorn_user
		WHERE id=#{id}
	</select>
	<select id="isExist" parameterType="string" resultType="string">
		SELECT id
		FROM acorn_user
		WHERE id=#{id}
	</select>
	<select id="isNickExist" parameterType="string" resultType="string">
		SELECT nick
		FROM acorn_user
		WHERE nick=#{nick}
	</select>
</mapper>























